#main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30em;
  padding-block: 2em;
  background-color: rgb(255, 255, 255, .15);
  backdrop-filter: blur(5px);

  .card-header {
    display: flex;
    justify-content: center;
    width: 75%;
    border-radius: 0;
    --bulma-card-header-shadow: 0;
    font-size: 1.5rem;
    color: black;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      margin-top: 1em;
      background-color: #720455;
      border-width: 0;
      color: white;
      font-weight: bold;
      transition: transform .9s;
    }

    button:hover {
      background-color: rgba(185,4,146,0.26);
      transition: background-color .25s;
    }

    button:not(:hover) {
      transition: background-color .25s;
    }

    button:active {
      background-color: rgba(173,100,0,0.26);
      transition: background-color .2s;
    }

    button:not(:active) {
      transition: background-color .5s;
    }

    .login-text-input, button {
      min-width: 25em;
      max-width: 25em;
    }

    #checkbox {
      margin-top: 1em;
      align-self: start;
      color: black;
    }

    .label {
      color: white;
    }

    input::placeholder {
      color: black;
    }

  }
}