/*
#070f2b
#312c4e
#5e4a73
#8f6a97
#c48cba
#fbb0dc
*/

$font: "Poppins", sans-serif;
$primary-colour: #AB6B21;
$secondary-colour: #E4AE70;
$tertiary-colour: #F4F9FA;
$background-colour: #FFF4DF;

#header-container {
  background-color: $secondary-colour;
  padding-block: 1.1em;
  padding-inline: 3em;
  .row {
    align-items: center;
  }

  a {
    color: inherit;
    text-decoration-line: none;
  }

  h1, h3 {
    font-weight: bold;
    margin: 0;
  }

  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  color: $tertiary-colour;
}

#footer-container {
  background-color: $secondary-colour;
  padding-block: 1em;
  padding-inline: 3em;
  color: $tertiary-colour;
  h5 {
    font-size: 1rem;
    margin: 0;
  }
  font-family: $font;
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background-colour;
  font-family: $font;
  padding-bottom: 3.5em;
}

#welcome-page-container {
  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $primary-colour;
    font-weight: bold;

    img {
      width: 60%;
    }

    button {
      margin-top: 1em;
      width: 30%;
      color: white;
      background-color: $primary-colour;
      font-weight: bold;
      border-radius: 1.5em;
    }

    button:hover {
      background-color: $secondary-colour;
      transition: background-color .25s;
    }

    button:not(:hover) {
      transition: background-color .25s;
    }

    button:active {
      background-color: rgba(161,62,0,0.64);
      transition: background-color .2s;
    }

    button:not(:active) {
      transition: background-color .5s;
    }
  }
}

#login-container {
  display: flex;
  flex-direction: row;
  width: 35%;
  background-color: $tertiary-colour;
  color: white;
  border-radius: 1.25em;
  padding-block: 3em;

  .card-title {
    padding: 0;
    margin-bottom: .75em;
    font-size: 2rem;
    color: $primary-colour;
    font-weight: bold;
  }

  #login-form-column {
    overflow: auto;
  }

  .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-body{
    padding-inline: 3em;
    padding-block: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .input, button {
      width: 100%;
      border-radius: .5em;
      border-width: 1.1px;
      border-color: #A6C2C8;
    }

    #login-form {
      padding: 0;
      .row {
        margin-inline: 0;
        justify-content: center;
      }
    }

    button {
      background-color: $primary-colour;
      border-width: 0;
      border-radius: 1.5em;
      width: 50%;
      color: white;
      font-weight: bold;
      transition: transform .9s;
      font-size: .75rem;
    }

    button:hover {
      background-color: $secondary-colour;
      transition: background-color .25s;
    }

    button:not(:hover) {
      transition: background-color .25s;
    }

    button:active {
      background-color: rgba(161,62,0,0.64);
      transition: background-color .2s;
    }

    button:not(:active) {
      transition: background-color .5s;
    }

    /*Email, password, and checkbox label*/
    #email-form, #password-form {
      label {
        margin-bottom: .5em;
        font-size: .75rem;
        color: #48433D;
      }
    }

    #email-form {
      margin-bottom: .5em;
    }

    /*Email & password input form*/
    .login-text-input {
      background-color: transparent;
      padding-block: .3em;
      padding-inline: 1em;
      font-size: .75rem;
    }

    #checkbox {
      input {
        border-color: #48433D;
      }
      margin-top: 1.25em;
      margin-bottom: 1.75em;
      color: #48433D;
    }
  }
}

#profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5em;
  margin-bottom: 3em;
  padding-inline: 1.5em;

  #profile-header {
    margin-bottom: 2em;
    h1 {
      color: $primary-colour;
      font-weight: bold;
    }
  }

  #profile-body {
    margin-bottom: 2em;
    #left-col {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        border-width: 1px;
        border-color: black;
        border-style: solid;
        border-radius: 50%;
        width: 70%;
      }
    }
    #right-col {
      padding-left: 3em;
      h5 {
        color: $primary-colour;
        font-weight: bold;
      }
    }
  }

  #profile-footer {
    .col {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        width: 15%;
        color: white;
        background-color: #484D50;
        font-weight: bold;
        border-radius: 1.5em;
      }
    }
  }
}

.modal {
  border-color: red;
  border-style: solid;
  border-width: 1px;
  .modal-header {
    background-color: #FF452B;
    color: white;
    font-weight: bold;
  }

  .modal-body {
    p {
      margin: 0;
    }
    img {
      width: 20%;
    }
  }

  .modal-footer {
    justify-content: center;
    button {
      background-color: #FF452B;
      color: white;
      width: 30%;
      border-radius: 1.5em;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 750px) {

  #login-container {
    width: 100%;
    margin-block: 0;
  }

  #header-container, #footer-container {
    display: none;
  }

}