/*
#070f2b
#312c4e
#5e4a73
#8f6a97
#c48cba
#fbb0dc
*/

$font: "Poppins", sans-serif;
$primary-colour: #AB6B21;
$secondary-colour: #070f2b;
$background-colour: #FFF4DF;

#main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: white;
  font-family: $font;
}

#login-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 100%;
  background-color: #312c4e;
  color: white;

  .card-title {
    padding: 0;
    margin-bottom: .5em;
    font-size: 2rem;
  }

  #login-form-column {
    overflow: auto;
  }

  #login-art-column {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-body{
    padding-inline: 5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    #login-form {
      padding: 0;
      margin-bottom: 1em;
    }

    button {
      background-color: #070F2B;
      border-width: 0;
      color: white;
      font-weight: bold;
      transition: transform .9s;
      font-size: .75rem;
    }

    button:hover {
      background-color: rgba(185,4,146,0.26);
      transition: background-color .25s;
    }

    button:not(:hover) {
      transition: background-color .25s;
    }

    button:active {
      background-color: rgba(173,100,0,0.26);
      transition: background-color .2s;
    }

    button:not(:active) {
      transition: background-color .5s;
    }

    .input, button {
      width: 100%;
      border-radius: 2em;
    }

    /*Email, password, and checkbox label*/
    #email-form, #password-form {
      label {
        margin-bottom: .5em;
        font-size: .75rem;
      }
    }

    #email-form {
      margin-bottom: 1em;
    }

    /*Email & password input form*/
    .login-text-input {
      background-color: transparent;
      color: white;
      padding-block: .3em;
      padding-inline: 1em;
      font-size: .75rem;
    }

    #checkbox {
      margin-top: 1.25em;
    }
  }
}

#profile-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  #profile-header {
    margin-bottom: 2em;
    h1 {
      color: $primary-colour;
      font-weight: bold;
    }
  }

  #profile-body {
    margin-bottom: 2em;
    #left-col {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        border-width: 1px;
        border-color: black;
        border-style: solid;
        border-radius: 50%;
        width: 70%;
      }
    }
    #right-col {
      h5 {
        color: $primary-colour;
        font-weight: bold;
      }
    }
  }

  #profile-footer {
    .col {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        width: 15%;
        color: white;
        background-color: #484D50;
        font-weight: bold;
        border-radius: 1.5em;
      }
    }
  }
}

@media screen and (max-width: 750px) {

  #login-container {
    width: 90%;
    height: 60%;
  }

  #login-art-column.col {
    display: none;
  }

  .card-title {
    text-align: center;
  }
}